* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.isi {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid ;
    margin: 5px 5px;
    padding: 5px 5px;
}
.inbox {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.input {
    margin: 5px 5px;
    padding: 5px 5px;
    width: 100%;

}
.in-button {
    margin: 5px 5px;
    padding: 5px 5px;
}
.label {
    margin: 5px 5px;
    padding: 5px 5px;
}
.isi-2 {
    display: flex;
    gap: 15px;
}

.mark {
    text-decoration: line-through;
}
.fns {
    background-color: green;
}
.tog-button:hover {
    background-color: rgb(3, 176, 3);
}
.del-button:hover {
    background-color: rgb(255, 17, 17);
}
